.centre {
    text-align: center;
    height: auto;
}

.background1 {
    background-color: #F1D3B3;
}

.background2 {
    background-color: #FFDCA9;
}

.background3 {
    background-color: #F1D3B3;
}

.background4 {
    background-color: #C7BCA1;
}